.newNoteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newNoteForm label {
  font-size: 32px;
  font-weight: bold;
}
.newNoteForm input {
  margin: 5px;
  padding: 20px;
}
